.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    text-align: left;
    overflow-y: auto;
    max-height: 90%; /* Ensures the modal doesn't exceed the viewport height */
  }
  
  .theme {
    display: inline-block;
    margin-right: 0.5rem;
    background-color: #f0f0f0;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    font-size: 18px;
    cursor: pointer;
  }
  
  .themes {
    margin-bottom: 0.5rem;
  }
  
  .selectedTheme {
    border: 1px solid black;
  }
  
  .close-button {
    font-size: 24px;
    font-weight: bold;
    float: right;
    cursor: pointer;
  }
  